@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    margin: 0;
    font-family: 'Roboto Slab';
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    /* overflow: hidden; Hide scrollbars */

}
:root::-webkit-scrollbar{
    display: none;
  }

input[type=button] {
    font-family: 'Roboto Slab';

}
@media (min-width: 250px){
    .flexParent{
        display:flex;
        flex-direction:row;
        height:100%;
        flex-wrap: wrap;
    }
    .navbar ul{
        list-style-type: none;
        background-color: #2A74BA;
        margin: 0px;
        padding: 0px;
        height: 60px;
        overflow: hidden;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .float_left{
        margin-right: auto;
    }
    .navbar a{
        color: white;
        text-decoration: none;
        padding: 15px 15px;
        display: block;
        font-size: large;
        text-align: center;
    }

    .navbar i{
        font-size: 30px;
    }
    .navbar img{
        height:50px;
        margin: 0px 10px 5px 10px;
    }
    .searchFormView {
        width: 90vw;
        margin: 20px 5vw;
        height:min-content;
        display: flex;
    }
    /* .mainPagePic{
        width: 80vw;
        align-self: center;
        margin: 20px 10vw;
    }
    .mainPagePic .img{
        align-self: center;
        width: 400px;
    } */
    .searchBar{
        background-color: #EBEBEB;
        border: 2px solid rgb(189, 189, 189);
        border-radius: 20px;
        height: 40px;
        width: 70vw;
        align-content: center;
        margin: 20px 0;
    }
    /* .searchFormView button{
        background-color: ;
        border: 0px;
        height: 40px;
    } */
    .searchBar input{
        border: 0px;
        height:35px;
        margin: 2px 15px;
        font-size: 20px;
        width: 40vw;
        background-color: #EBEBEB;
    }

    .searchBar input:focus {
        outline: none;
    }
    .searchBar i{
        height: 30px;
        border: 0px;
        background-color: #EBEBEB;
        margin: 0px 5px;
        font-size: 25px;
    }

    .searchBar button{
        background-color: #EBEBEB;
        height: min-content;
        border: 0px;
        float: right;
        margin-right: 10px;
        margin-top: 5px;
    }


    .searchFilter{
        height: 40px;
        width: 25vw;
        margin: 20px 0 20px 2vw;
        align-content: center;
    }
    .searchFilter select{
        border: 2px solid rgb(189, 189, 189);
        border-radius: 20px;
        height: 40px;
        width:20vw;
        font-size: 16px;
    }

    .searchResultsView {
        width: 90vw;
        margin: 40px 5vw;
        height:min-content;
    }


    /* .showMoreResult{
        display: flex;
        width: 100%;
        justify-content: center;
        float: center;
        margin: 50px 0;
        height: fit-content;
        border-top: solid #9f9b89;
    }

    .showMoreResult button{
        background-color:#F3D967;
        margin-top: 30px;
        flex: center;
        height: 45px;
        width: 180px;
        font-size: 18px;
        border-radius: 25px;
        border: 0;
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;

    } */

    .resultCard{
        background-color:#F3D967;
        border: 2px solid rgb(189, 189, 189);
        border-radius: 15px;
        margin: 20px 5px;
        width: 280px;
        height: 350px;

    }

    .resultCard img{
        width: 260px;
        margin: 10px;
        object-fit: cover;
        border-radius: 15px;
        background-color: #ffffff;
    }

    .resultCard ul{
        list-style-type: none;
        margin: 10px;
        padding: 0px;
        height: 60px;
        overflow: hidden;
    }
    /* .favoriteList ul{
        list-style-type: none;
        margin: 10px;
        padding: 0px;
        height: min-content;
        overflow: hidden;
    } */
    .favoriteListContainer{
        width:80vw;
        margin: 10px 10vw;
        padding: 0px;
        height: min-content;
        overflow: hidden;
    }

    .resultCardName{
        float: left;
        margin: 2px 10px;
        font-weight: bolder;
        font-size: 28px;
        width: 120px;
        word-break:keep-all;/* do not change the line */   
        white-space:nowrap;/* do not change the line */  
        overflow:hidden;/* hide the content if it exceed the width */   
        text-overflow:ellipsis;/* use "..." to represend the hiden part*/

    }

    .resultCard button{
        background-color:#2e7bc3;
        float: right;
        height: 45px;
        width: 120px;
        font-size: 18px;
        border-radius: 25px;
        border: 0;
        color: white;
        text-align: center;
        text-decoration: none;

    }

    .signInNotification{
        width: 100vw;
        font-size: large;
        height: fit-content;
        margin:50px 0 0 0;
        justify-content: center;
        float: center;
        display: flex;
    }
    .signInOutArea{
        display: flex;
        width: 100vw;
        justify-content: center;
        float: center;
        margin: 50px 0;
        height: fit-content;
    }
    .signInOutButton{
        background-color:#2e7bc3;
        float: right;
        height: 45px;
        width: 220px;
        font-size: 18px;
        border-radius: 25px;
        border: 0;
        color: white;
        text-align: center;
        text-decoration: none;
    }

    .float_left{
        float: left;
        padding-left: 20px;
        text-align: center;
        font-size: 20px;
    }
    .float_right{
        float: right;
        padding: 2px;
    }



    .details_selector{
        display: flex;
        justify-content: left; 
        margin: 20px 50px;

    }

    .detail_selector_item{
        width: 27vw;
        height: 60px;
        /* border-radius: 5px; */
        font-family: 'Roboto Slab';
        font-size: 23px;
        background-color: #ffffff;
        /* font-weight: 350; */
        text-align: center;
        padding:5px 0;
        box-sizing: border-box;
        text-align: center;
        color: #9c9c9c;

        display: flex;
        justify-content: center;
        align-items: center;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        transition: linear 0.5s;
        /* margin-top: -30px; */
        position: relative;
    }
    

    .details_part1 {
        display: flex;
        align-items: center; 
        justify-content: center; 
    }

    .details_part1_name {
        color: #253237;
        /*font-family: "Luckiest Guy", cursive;*/
        font-size: 25px;
        font-weight: 550;
        text-transform: uppercase;
    }

    .details_part1_img1 {
        width: 250px;
        height: auto;
        margin-right: 50px;
    }

    .details_part1 i{
        width: 20px;
        height: 20px;
        margin-left: 28px;
    }

    .details_part1_backbutton {
        background-color: white;
        border: 3px solid #2e7bc3;
        float: left;
        height: 35px;
        width: 100px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Roboto Slab';
        border-radius: 20px;
        color: black;
        text-align: center;
        text-decoration: none;
        margin-left: 15px;
        margin-top: 15px;
    }

    .details_part1_img2 {
        width: 20px;
        height: auto;
        margin-left: 28px;
    }

    .details_part1_button-img2 {
        background-color: transparent; 
        border: none; 
        padding: 0; 
        cursor: pointer;
    }

    /* .details_part2 {
        position: relative;
    }

    .details_part2_abilities {
        width: 80px; 
        height: 35px; 
        text-align: right;
        color: black;
        font-size: 22px;
        font-weight: 400;
        font-family: 'Roboto Slab';
        word-wrap: break-word;
        margin-left: 55px;
        text-decoration: none;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
    }

    .details_part2_line {
        position: absolute;
        margin-left: 30px;
        width: 1200;  
        height: 0;
        border-top: 2px #D1C9C9 solid;
        z-index: 1;
    }

    .details_part2_smallLine {
        position: absolute;
        margin-left: 30px;
        width: 130;
        height: 0;
        border: 2px #2E7BC3 solid;
        z-index: 2;
    }

    .details_part2_smallLine2 {
        position: absolute;
        margin-left: 165px;
        width: 130;
        height: 0;
        border: 2px #2E7BC3 solid;
        z-index: 2;
    }

    .details_part2_smallLine3 {
        position: absolute;
        margin-left: 305px;
        width: 130;
        height: 0;
        border: 2px #2E7BC3 solid;
        z-index: 2;
    } */

    .details_part2_headline1 {
        margin-top: 30;
        margin-left: 10px;
        width: 135;
        height: 35; 
        text-align: right; 
        color: #253237;
        font-size: 22;
        font-weight: 200; 
        word-wrap: break-word;
    }

    .details_part2_abilities1 {
        margin-left: 50px;
        width: 80vw;
        height: 75px;
        padding: 10px;
        /*background: #C2DFE3;*/
        display: flex; 
        flex-wrap: wrap; 
        /*justify-content: space-between; */
        border-radius: 10px;
    }
    
    .details_part2_abilityName {
        color: black;
        font-size: 19;
        font-weight: 700;
        word-wrap: break-word;
        
    }

    .ability-item {
        width: 300px; 
        padding: 10px; 
        margin-bottom: 10px; 
        /*background-color: #C2DFE3; */
        border-radius: 10px; 
        text-align: center; 
    }

    .details_part2_div1 {
        margin-top: 15;
        margin-left: 90px;
    }

    .details_part2_headline2 {
        margin-top: 30;
        margin-left: 30px;
        width: 200;
        height: 35; 
        text-align: right; 
        color: black;
        font-size: 18;
        font-weight: 700; 
    }

    .details_part2_item1 {
        margin-top: 30;
        margin-left: 15px;
        width: 200;
        height: 35; 
        text-align: right; 
        font-size: 18;
    }

    .details_part2_rectangle2 {
        margin-left: 50px;
        margin-top: 20px;
        width: 80vw;
        height: 10px;
        padding: 20px;
        background: #F3D967; 
        display: flex; 
        flex-wrap: wrap; 
        border-radius: 10px;
        font-size: 22;
        justify-content: center; 
        flex-direction: column-reverse; 
    }

    .details_forum ul{
        list-style-type: none;
        margin: 10px;
        padding: 0px;
        height: min-content;
        width: 80vw;
        overflow: hidden;
    }
    .details_forum li{
        float: left;
    }

    .forum_card{
        background-color: #C2DFE3; 
        height: min-content;
        width: 70vw;
        margin: 20px 5vw;
        font-size: 18px;
        border-radius: 25px;
        border: 0;
    }

    .hide{
        display: none;
    }

    .team_backbutton {
        background-color: white;
        border: 3px solid #2e7bc3;
        height: 35px;
        width: 100px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Roboto Slab';
        border-radius: 20px;
        color: black;
        text-align: center;
        margin-left: 15px;
        margin-top: 15px;
    }

    .team_view1_title{
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .team_createteam_button{
        background-color: white;
        border: 3px solid #2e7bc3;
        float: left;
        height: 35px;
        width: 140px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Roboto Slab';
        border-radius: 20px;
        color: black;
        text-align: center;
        text-decoration: none;
        margin-left: 150px;
        margin-top: 15px;
    }

    .team_table-container {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F9F2CB;
        width: 75%;
        margin-left: auto; 
        margin-right: auto; 
    }

    .team_table-container table {
        width: 100%;
    }

    .team_table-container th,
    .team_table-container tr {
        padding: 20px;
        text-align: center;
        border-bottom: 2px solid white;
        font-size: 18px;
    }
    
    .team_table-container th {
        background-color: #F4DD64;
    }

    .team_seedetails_button{
        background-color: white;
        border: 3px solid #F3D967;
        height: 35px;
        width: 100px;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Roboto Slab';
        border-radius: 20px;
        color: black;
        text-align: center;
    }
    .team_teamName{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .team_input_teamName {
        width: 200px;
        height: 30px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-left: 10px;
    }

    .team_box{
        width: 50%;
        height: 50%;
        background: 'white';
        border-radius: 20px;
        border: 3px #4489C9 solid;
        margin-top: 40px;
        margin: auto;
    }

    .team_submit_button{
        background-color: white;
        border: 3px solid #2e7bc3;
        height: 35px;
        width: 140px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Roboto Slab';
        border-radius: 20px;
        color: black;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .team_carousel {
        display: flex;
        overflow-x: auto;
    }

    .team_carousel::-webkit-scrollbar {
        width: 1px;
    }

    .team_carousel::-webkit-scrollbar-track {
        background: transparent;
    }

    .team_carousel::-webkit-scrollbar-thumb {
        background-color: #BAD2E8;
        border-radius: 2px; 
    }
    
    .team_carouselItem {
        flex: 0 0 auto;
        margin-right: 10px;
    }

    .team_resultCard{
        background-color:#F3D967;
        border: 2px solid rgb(189, 189, 189);
        border-radius: 15px;
        margin: 20px 5px;
        width: 210px;
        height: 220px;
        text-align: center; 
    }

    .team_resultCard img{
        height: 110px;
        width: 190px;
        margin: 5px;
        object-fit: cover;
        border-radius: 15px;
        background-color: #ffffff;
    }

    .team_resultCard ul{
        list-style-type: none;
        margin: 10px;
        padding: 0px;
        height: 40px;
        overflow: hidden;
    }

    .team_favoriteList ul{
        list-style-type: none;
        margin: 10px;
        padding: 0px;
        height: min-content;
        overflow: hidden;
    }

    .team_resultCardName{
        float: left;
        margin: 2px 10px;
        font-weight: bolder;
        font-size: 15px;
    }

    .team_cardButtonLearnMore{
        background-color: #2e7bc3;
        border: 3px solid #2e7bc3;
        height: 25px;
        width: 90px;
        font-size: 12px;
        font-weight: 500;
        font-family: 'Roboto Slab';
        border-radius: 20px;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
    }

    .team_cardButtonAdd{
        background-color: white;
        border: 3px solid #2e7bc3;
        height: 30px;
        width: 100px;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Roboto Slab';
        border-radius: 20px;
        color: black;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    .team_box_members{
        width: 75%;
        height: 45%;
        background: 'white';
        border-radius: 20px;
        border: 3px #4489C9 transparent;
        margin-top: 40px;
        margin: auto;
    }


}