body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

@media (min-width: 250px){
    .flexParent{
        display:flex;
        flex-direction:row;
        height:100%;
        flex-wrap: wrap;
    }
    .navbar ul{
        list-style-type: none;
        background-color: grey;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
    .navbar a{
        color: white;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: center;
    }
    .navbar a:hover{
        background-color: blue;
    }
    .float_left{
        float: left;
        padding-left: 20px;
        font-size: 20px;
    }
    .float_right{
        float: right;
        padding: 2px;
    }

    .details_part1 {
        display: flex;
        align-items: center; 
        justify-content: center; 
    }

    .details_part1_name {
        color: black;
        font-size: 25px;
        font-family: Inter, sans-serif;
        font-weight: 400;
    }

    .details_part1_img1 {
        width: 300px;
        height: auto;
        margin-right: 50px;
    }

    .details_part1_img2 {
        width: 20px;
        height: auto;
        margin-left: 28px;
    }

    .details_part2 {
        position: relative;
    }

    .details_part2_abilities {
        width: 80px; 
        height: 35px; 
        text-align: right;
        color: black;
        font-size: 22px;
        font-family: Inter, sans-serif;
        font-weight: 400;
        word-wrap: break-word;
        margin-left: 55px;
        text-decoration: none;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
    }

    .details_part2_line {
        position: absolute;
        margin-left: 30px;
        width: 1200;  
        height: 0;
        border-top: 2px #D1C9C9 solid;
        z-index: 1;
    }

    .details_part2_smallLine {
        position: absolute;
        margin-left: 30px;
        width: 130;
        height: 0;
        border: 2px #FF0000 solid;
        z-index: 2;
    }

    .details_part2_headline1 {
        margin-top: 30;
        margin-left: 10px;
        width: 135;
        height: 35; 
        text-align: right; 
        color: black;
        font-size: 22;
        font-family: Inter;
        font-weight: 700; 
        word-wrap: break-word;
    }

    .details_part2_abilities1 {
        margin-left: 50px;
        width: 1080px;
        height: 55px;
        padding: 20px;
        background: #F0DCD6; 
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-between; 
    }
    
    .details_part2_abilityName {
        color: black;
        font-size: 19;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
        
    }

    .ability-item {
        width: 300px; 
        padding: 10px; 
        margin-bottom: 10px; 
        background-color: #F0DCD6; 
        border-radius: 10px; 
        text-align: center; 
    }

}